<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
		<img src="http://www.clickgratis.com.br/fotos-imagens/imagens/aHR0cDovL3d3dy5jbGlja2dyYXRpcy5jb20uYnIvZm90b3MtaW1hZ2Vucy9pbWFnZW5zL2FIUjBjRG92TDNkM2R5NWpiR2xqYTJkeVlYUnBjeTVqYjIwdVluSXZabTkwYjNNdGFXMWhaMlZ1Y3k5cGJXRm5aVzV6TDJGSVVqQmpSRzkyVERKck1rMXBOVEJoVnpVMVkwZHNha3h0VG5aaVV6aDVZbGhqTldFelNUVk1iWEIzV25jOVBTNXFjR2M9LmpwZw==.jpg" alt="...">
		<div class="carousel-caption">
			...
		</div>
		</div>
	</div>
</div>
<div class="container-fluid">	
	<section class="menu margin-top">
		<div class="row col-md-3 text-left">
			<div class="col-md-12">	
				<div class="side-box">
					<p class="text-center">Filtrar</p>
					<hr>

					<div class="filtro-wrapper">
						<p class="text-left">Categoria:</p>
						<div ng-repeat="categoria in categorias track by $index" ng-click="filtrar(categoria.nome)" class="radio">
					      <label><input type="radio" name="categorias" value="{{categoria.nome}}">{{categoria.nome}}</label>
					    </div>
					    <hr>
					    <p class="text-left">Ordem:</p>
						<div ng-repeat="ordem in ordens" ng-click="ordenar(ordem.nome)" class="radio">
					      <label><input type="radio" name="ordem" value="{{ordem.nome}}">{{ordem.nome}}</label>
					    </div>
					    <hr>
					    <p class="text-left">Visualizar:</p>
						<div ng-click="setVarDisponivel('sim')" class="radio">
					      <label><input type="radio" name="disponiveis" value="Itens disponiveis">Itens Disponiveis</label>
					    </div>
					    <div ng-click="setVarDisponivel('nao')" class="radio">
					      <label><input type="radio" name="disponiveis" value="Itens indisponiveis">Itens Indisponiveis</label>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	<section class="products margin-top">
		<div class="col-md-9">	
			<div ng-repeat="produto in produtos | filter:filtro | orderBy: ordem" ng-if="produto.disponivel == isDisponivel" class="col-md-3 col-sm-6 col-xs-12 box-products">
				<img class="img-responsive" src="{{produto.url}}" />
				<div class="col-md-6">
					<h4>{{produto.nome}}</h4>
				</div>
				<p class="promocao">{{produto.promocao}}% <br/> OFF</p>
				<div class="margin-buttons">
					<small class="normal-price">{{produto.preco | currency}}</small>
					<h4>{{produto.preco - (produto.preco * (produto.promocao * 0.01)) | currency}}</h4>
					<button class="btn btn-default" ng-disabled="produto.disponivel == 'nao'" ng-click="addToCart(produto)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Carrinho</button>
					<a ng-click="getDetails(produto.id)" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Detalhes</a>
				</div>
			</div>
		</div>
	</section>
</div>