<section class="menu margin-top">
		<div class="row col-md-2 text-left">
			<div class="col-md-12">	
				<div class="side-box">
					<p class="sidenav-title">Filtrar</p>
					<hr>

					<div class="filtro-wrapper">
						<p class="sidenav-title" class="text-left">Categoria:</p>
						<div ng-repeat="categoria in categorias track by $index" ng-click="getCategories(categoria.nome.toLowerCase())" class="category">{{categoria.nome}}</div>
						<div class="category" ng-click="goToIndex()">Todos</div>
					    <hr>
					    <p class="sidenav-title">Ordem:</p>
						<div ng-repeat="ordem in ordens" ng-click="ordenar(ordem.nome)" class="category">{{ordem.nome}}</div>
					    <hr>
					    <p class="sidenav-title">Visualizar:</p>
						<div ng-click="setVarDisponivel('sim')" class="category">Itens disponiveis</div>
					    <div ng-click="setVarDisponivel('nao')" class="category">Itens indisponiveis</div>
				    </div>
				</div>
			</div>
		</div>
