<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
	<script src="js/main/module/main.js"></script>
	<script src="js/produtos/module/produtos.js"></script>
	<script src="js/produtos/controller/produtosCtrl.js"></script>
</head>
<body ng-controller="produtosCtrl">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <p class="navbar-text navbar-right">Carrinho : {{carrinho.length}}</p>
	    <p class="navbar-text navbar-left">DT-Ecommerce</p>
	  </div>
	</nav>
	<div class="container">
		<section class="search">
			<div class="row margin-top">
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="O que voce deseja?" />
						<span class="input-group-btn">
							<button class="btn btn-default">Filtrar</button>
						</span>
					</div>
				</div>		
			</div>
		</section>
		<section class="products margin-top">
			<div class="row col-md-12 text-center">
				<div ng-repeat="produto in produtos" class="col-md-3 box-products">
					<img class="img-responsive" src="{{produto.url}}" />
					<div class="margin-buttons">
						<h4>R$ {{produto.preco | number:2}}</h4>
						<button class="btn btn-default" ng-click="addToCart(produto)">Add to cart</button>
						<button class="btn btn-info">Ver mais</button>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>